// ==========================================
// FOOTER
// ==========================================

@use "../utilities/mixins" as *;

footer {
    @include flex-center;
    padding: 20px;
    gap: 1rem;
    width: 100%;
}
